<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head">
        <a href="./AboutTema.html">
            <input type="image" class="pop" src="./image/head/pop.svg" alt="">
        </a>
        <div class="mesto"></div>
        <nav class="navbar">
            <div class="container">
              <div class="navbar__wrap">
                <div class="hamb">
                  <div class="hamb__field" id="hamb">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </div>
                </div>
                <ul class="menu" id="menu">
                  <li><a href="/index.html">Главная</a></li>
                  <li><a href="./About.html">О нас</a></li>
                  <li><a href="/reg.html">Авторизация/Регистрация</a></li>
                </ul>
              </div>
            </div>
          </nav>
      <div class="popup" id="popup"></div>
        <p class="head-title">MBarExchange</p>
        <div class="ing">
            <p><a href="./index.html"> Главная</a></p>
            <p><a href="./About.html"> О нас </a></p>
        </div>
        <p class="WoW"> <a href="./reg.html">Авторизация/Регистрация</a></p>
    </div>
    <div class="Wordabout">
        <h10 class> Главное о нас </h10>
        <p >MbarExchange-на нашем сайте представлены лучшие Аклогольные рестораны, бары и пабы Москвы по отзывам пользователей нашего сайта. Конкуренция среди пивных пабов и баров столь высока, что получить звание «лучший пивной ресторан Москвы» — почетный и заслуженный титул.</p>
    </div>
    <div class="contabout">
        <div class="ab1">
            <img class="kuk" src="./image/vano.jpg" alt="">
            <div class="ab11">
                <p10> Егерев Иван </p10>
                <p>TeamLead команды,человек,который расставляет всем задачи,а также отвечает за backend разработку нашего сайта. Аутентификация,авторизация с уровнем доступа,связь баров и комментариев,база данных пользователя и многое другое лежит именно на нем.</p>
            </div>

        </div>
        <div class="ab1">
            <img class="kuk" src="./image/ya.jpg" alt="">
            <div class="ab11">
                <p10>Егоров Николай</p10>
                <p>Frontend разработчик,все,что вы видите своими глазами расставлял и кодил он,Николай изучил актуальные макеты сайта,создал html,возился с сss,а также сделал Мобильную версию сайта,в дополнении ко всему этому можно отметить разработку темной Темы ,ну и реализация задумки нашего проекта "оценки и рейтинг"</p>
            </div>

        </div>
        <div class="ab1">
            <img class="kuk" src="./image/katya.jpg" alt="">
            <div class="ab11">
                <p10>Зарецкая Екатерина</p10>
                <p>Аналитик,Создатель  Логотипа MBarExchange,отвечает за постановки определенных задач</p>
            </div>
        </div>
        <div class="ab1">
            <img class="kuk" src="./image/masha.jpg" alt="">
            <div class="ab11">
                <p10>Самосват Мария</p10>
                <p>Дизайнер,в ее задачи входит: работать во время практики. Какой-то текст для вижена</p>
            </div>

        </div>
        <div class="ab1">
            <img class="kuk" src="./image/bogdan.jpg" alt="">
            <div class="ab11">
                <p10> Крымов Богдан</p10>
                <p>Дизайнер,концепт и макет сайта лежит на этом человеке,Также помогет ФронтЭндеру в Расстановке Всех объектов на сайте,Масштабируемость также лежит на нем.</p>

            </div>

        </div>
    </div>
    <div class="foot">
        <div class="conti">
            <div class="foot-row">
                <div class="foot-copy">
                    <div class="foot-name">
                        Ⓒ‎ Команда ИСиТ1-2б
                        <p>Все права защищены</p>
                    </div>
                </div>
                <div class="kring">
                    <a href="https://vk.com/ja_eger">
                        Тех. Поддержка
                    </a>
                    <a href="#">Закон о защите персональных данных</a>
                </div>
                <div>
                    <img class="log" src="{% static 'image/logotip.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="./script2.js"></script>  
    
</body>
</html>