<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBE</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head">
        <a href="./indexTema.html">
            <input type="image" class="pop" src="./image/head/pop.svg" alt="">
        </a>
        <div class="mesto"></div>
        <nav class="navbar">
            <div class="container">
              <div class="navbar__wrap">
                <div class="hamb">
                  <div class="hamb__field" id="hamb">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </div>
                </div>
                <ul class="menu" id="menu">
                  <li><a href="/index.html">Главная</a></li>
                  <li><a href="./About.html">О нас</a></li>
                  <li><a href="/reg.html">Авторизация/Регистрация</a></li>
                </ul>
              </div>
            </div>
          </nav>
      <div class="popup" id="popup"></div>
        <p class="head-title">MBarExchange</p>
        <div class="ing">
            <p><a href="./index.html"> Главная</a></p>
            <p><a href="./About.html"> О нас </a></p>
        </div>
        <p class="WoW"> <a href="./reg.html">Авторизация/Регистрация</a></p>
    </div>
    <div class="port">
        <div class="cont">
            <div class="txt">
                <div class="card" >
                    <a href="./str.html">
                        <img class="cr" src="./image/head/11.jpg" alt="" >
                        <h3 class="s1s"> 2 лесбухи </h3>
                        <p>Бар, находящийся на фрунзе</p>
                    </a>
                </div>
                <div class="card">
                    <img class="cr" src="./image/head/22.jpg" alt="">
                    <h3 class="s1s">Чекушечная</h3>
                    <p>Гороховский переулок </p>
                </div>
                <div class="card">
                    <img class="cr" src="./image/head/3.jpg" alt="">
                    <h3 class="s1s">ОПГ Хасбиков</h3>
                    <p>Ленинградский проспект</p>
                </div> 
                <div class="card">
                    <img class="cr" src="./image/head/3.jpg" alt="">
                    <h3 class="s1s">ОПГ Хасбиков</h3>
                    <p>Ленинградский проспект</p>
                </div> 
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="conti">
            <div class="foot-row">
                <div class="foot-copy">
                    <div class="foot-name">
                        Ⓒ‎ Команда ИСиТ1-2б
                        <p>Все права защищены</p>
                    </div>
                </div>
                <div class="kring">
                    <a href="https://vk.com/ja_eger">
                        Тех. Поддержка
                    </a>
                    <a href="#">Закон о защите персональных данных</a>
                </div>
                <div>
                    <img class="log" src="./image/logotip.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="./script2.js"></script>  
</body>
</html>