<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название бара</title>
    <link rel="stylesheet" href="/css/tema2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head">
        <a href="./str.html">
            <input type="image" class="pop" src="./image/head/popTema.svg" alt="">
        </a>
        <div class="mesto"></div>
        <nav class="navbar">
            <div class="container">
              <div class="navbar__wrap">
                <div class="hamb">
                  <div class="hamb__field" id="hamb">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </div>
                </div>
                <ul class="menu" id="menu">
                  <li><a href="/indexTema.html">Главная</a></li>
                  <li><a href="./AboutTema.html">О нас</a></li>
                  <li><a href="/reg.html">Авторизация/Регистрация</a></li>
                </ul>
              </div>
            </div>
          </nav>
      <div class="popup" id="popup"></div>
        <p class="head-title">MBarExchange</p>
        <div class="ing">
            <p><a href="./indexTema.html"> Главная</a></p>
            <p><a href="./AboutTema.html"> О нас </a></p>
        </div>
        <p class="WoW"> <a href="./reg.html">Авторизация/Регистрация</a></p>
    </div>
    <div class="port">
        <div class="cont">
            <div class="cs">
                <img class="cr1" src="./image/head/1.jpg" alt="" >
                <h4 class="gachi">
                    <p class="pp">Название:</p>
                    <p class="pp2">"Бар 2 лесбухи"</p>
                    <p class="pp">Рейтинг:</p>
                    <p class="pp2">
                        <div class="simple_rating1">
                            <div class="simple_rating_items1">
                                <input id="simple_rating_51" type="radio" class="simple_rating_item1" disabled name="simple_rating1" value="5">
                                <label for="simple_rating_51" class="simple_rating_label1"></label>
                                <input id="simple_rating_41" type="radio" class="simple_rating_item1"disabled name="simple_rating1" value="4">
                                <label for="simple_rating_41" class="simple_rating_label1"></label>
                                <input id="simple_rating_31" type="radio" class="simple_rating_item1" disabled checked name="simple_rating1" value="3">
                                <label for="simple_rating_31" class="simple_rating_label1"></label>
                                <input id="simple_rating_21" type="radio" class="simple_rating_item1" disabled name="simple_rating1" value="2">
                                <label for="simple_rating_21" class="simple_rating_label1"></label>
                                <input id="simple_rating_11" type="radio" class="simple_rating_item1" disabled name="simple_rating1" value="1">
                                <label for="simple_rating_11" class="simple_rating_label1"></label>
                            </div>
                        </div>
                    </p>
                    <p class="pp">Адрес:</p>
                    <p class="pp2">Космодамианская наб., 52, строение 6, Москва, 115054</p>
                    <p class="pp">Рабочее время:</p>
                    <p class="pp2">C 8:00 до 22:00</p>
                    <p class="pp">Средний чек:</p>
                    <p class="pp2">От 700р.</p>
                </h4>
            </div>
            <h5>Описание:</h5>
            <p class="ops">Знаменитый эксклюзивными авторскими коктейлями бар City Space, расположенный на вершине отеля, открывает панорамные виды на город и входит в топ 10 лучших баров мира, ежегодно завоёвывая престижные международные премии. 
                City Space известен своими коктейлями. Меню насчитывает более 250 уникальных рецептов и эксклюзивных сочетаний разнообразных ингредиентов. 
            </p>
            <h5 class="Com_title">Комментарии</h5>
            <form action="" class="Com">
                <p>
                    <input type="text" class="formcom1" placeholder="Имя пользователя">
                    <div class="simple_rating">
                        <div class="simple_rating_items">
                            <input id="simple_rating_5" type="radio" class="simple_rating_item" name="simple_rating" value="5">
                            <label for="simple_rating_5" class="simple_rating_label"></label>
                            <input id="simple_rating_4" type="radio" class="simple_rating_item" name="simple_rating" value="4">
                            <label for="simple_rating_4" class="simple_rating_label"></label>
                            <input id="simple_rating_3" type="radio" class="simple_rating_item" name="simple_rating" value="3">
                            <label for="simple_rating_3" class="simple_rating_label"></label>
                            <input id="simple_rating_2" type="radio" class="simple_rating_item" name="simple_rating" value="2">
                            <label for="simple_rating_2" class="simple_rating_label"></label>
                            <input id="simple_rating_1" type="radio" class="simple_rating_item" name="simple_rating" value="1">
                            <label for="simple_rating_1" class="simple_rating_label"></label>
                        </div>
                    </div>
                </p>
                <p>
                    <input type="text" class="formcom3" placeholder="Введите комментарий">
                </p>
                <p>
                    <input type="time" class="formcom4" placeholder="Время">
                    <input type="submit" class="formcom5" placeholder="Отправить">
                </p>
            </form>
        </div>
    </div>
    <div class="foot">
        <div class="conti">
            <div class="foot-row">
                <div class="foot-copy">
                    <div class="foot-name">
                        Ⓒ‎ Команда ИСиТ1-2б
                        <p>Все права защищены</p>
                    </div>
                </div>
                <div class="kring">
                    <a href="https://vk.com/ja_eger">
                        Тех. Поддержка
                    </a>
                    <a href="#">Закон о защите персональных данных</a>
                </div>
                <div>
                    <img class="log" src="./image/logotip_dark.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
     <script src="./script2.js"></script>  
</body>
</html>